#timeline {
    background-image: url(../images/background-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;

    height: 100vh;
}

#timeline h1{
    padding: 2rem;
    color: var(--color-secondary);
    font-size: 2rem;
}

#timeline article {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: justify;
    color: var(--color-background-sheader);

    background-color: var(--color-primary);
    box-shadow: 2px 2px 5px var(--color-background-box);
    border-radius: 8px;
    margin: 1rem 2rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#timeline article p {
    width: 100%;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
    border-right: 1px solid silver;
}

#timeline article span label{
    color: silver;
    cursor: pointer;
}

#timeline article #like {
    display: none;
}

#timeline article span .liked {
    color: red;
}


@media (min-width: 700px) {
    #timeline #timeline-content {
        width: 50%;
        display: inline-block;
    }

    #timeline article {
        margin: 10px;
    }
}